@import "tailwindcss";

/* ----------------------------
    Cartify Design System
----------------------------- */

:root {
    --primary: #FF3F6C;
    --primary-hover: #E7335E;

    --heading: #282C3F;
    --text-secondary: #696B79;

    --bg-light: #F5F5F6;
    --border-light: #EAEAEC;

    --container-width: 1280px;

    /* Override Swiper Theme Color */
    --swiper-theme-color: var(--primary);
}

/* ----------------------------
    Global Styles
----------------------------- */

body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: var(--heading);
}

a {
    text-decoration: none;
    /* color: inherit; */
}

/* ----------------------------
    Reusable Classes
----------------------------- */

.primary-btn {
    background-color: var(--primary);
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 0.375rem;
    font-weight: 600;
    transition: 0.3s ease;
}

.primary-btn:hover {
    background-color: var(--primary-hover);
}

.section-container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}


/* ----------------------------
    Swiper Logic
----------------------------- */


.swiper-button-next,
.swiper-button-prev {
    color: white;
}

/* Swiper Pagination Custom Styling */
.swiper-pagination-bullet {
    background: #d1d5db;
    /* light gray */
    opacity: 0.6;
}

.swiper-pagination-bullet-active {
    background: var(--primary) !important;
    /* your brand color */
    opacity: 1;
    transform: scale(1.2);
}